[submodule "vim/bundle/SuperTab"]
	path = vim/bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-clojure-highlight"]
	path = vim-clojure-highlight
	url = ./vim/bundle/vim-clojure-highlight/
[submodule "vim-clojure-static"]
	path = vim-clojure-static
	url = ./vim/bundle/vim-clojure-static/
[submodule "vim-fireplace"]
	path = vim-fireplace
	url = ./vim/bundle/vim-fireplace/
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = ./vim/bundle/rainbow_parentheses.vim/
